<!DOCTYPE html>
<html>
  <head>
   <%= render 'shared/meta_tag' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if @token.present?%>
      <meta name="token" content="<%= @token%>">
    <% end %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
